
* {
    font-family: Helvetica;
    /* font-size: 22px; */
    color: seashell;
    background-color:black;
    opacity: 0.9;
  }

.header  {
  display:flex;
  /* position: fixed;  when I use this, the picture covers the header ??*/


  background-color: black;
  left-margin: 10px;
  color: white;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;


}
.tea-cozy {
  display: inline-flex;
  font-family:cursive;
  font-size: 40px;
  padding-left: 10px;

}

.links a {
  padding-left: 30px;
  padding-right: 20px;

 /* display: inline-block; */
 /* padding: 0px 20px; */
  /* justify-content: flex-end; */

}

.parent-container1 {
  display: flex;
  height: 700px;
  /* height: 1000px; */
  background-image: url(" ../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.parent-container2 {
  display: flex;
  /* width: 1000px; */
}

.month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.parent-container3 {
  width: 1000px;
  display: flex;
  /* flex-wrap: wrap; */
}

.photos
img  {
  display: inline-block;
  flex-wrap: wrap;
  /* can't get these images to wrap!?? */
  justify-content: space-between;
  padding: 50px;
  height: 200px;
  width: 300px;
  /* margin: 20px; */
}

.photos  figcaption{
  text-align: center;
  flex-wrap: wrap;
  /* display: flex; */
  /* display: inline-block; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
}

.parent-container4 {
  display: flex;
  /* flex-wrap: wrap; */
  background-image: url(" ../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  /* width: 1000px; */
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-around;

}

.parent-container4 h2{
  justify-content: center;

}

.locations{
  /* display: inline-block;
  flex-wrap: wrap;
  justify-content: center;*/
  /* align-items: center; */
  text-align: center;

  height: 300px;
  width: 300px;
}

.footer {
  display: flex;
  flex-direction: column;
}
.copyright h5 {

}
